body{
    overflow: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
.gallery_view{
    position: relative;
    float: right;
    width: calc(100% - 410px);
    height: 100vh;
    background: #271A1B;
}
.img_list_wrapper{
    position: relative;
    float: left;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    background: blue;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    grid-auto-flow: dense;
}
.wrapper>li{
    overflow: hidden;
    background: green;
}
.wrapper>li.landscape{
    grid-column-end: span 2;
}
.img_wrppaer{
    width: 100px;
    height: 50px;
    overflow: hidden;
}
.wrapper>li>img{
/*     width: 100%; */
    display: block;
}
      